{% extends "base.html" %}
{% block stylesheets %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}css/edit.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}ajaxuploader/css/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock stylesheets %}
{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.0.custom.min.js"></script>
  <script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js" ></script>
  <script type="text/javascript">
  var ajaxInProcess = false;
  var patt = new RegExp('{{ MEDIA_URL }}');
  $(function() {
    $('#edit_form').submit(function(e){
      e.preventDefault();
      if (ajaxInProcess){
        return false;
      }
      ajaxInProcess = true;
      var $form = $(this);
      var data = $form.serialize();
      $form.find('input, textarea').attr('disabled', 'disabled');
      $('#spinner').show();
      $('#success').hide();
      $.post('/edit', data, function(data){
        $('#spinner').hide();
        ajaxInProcess = false;
        $form.find('input, textarea').removeAttr('disabled');
        if (typeof data.errors != 'undefined') {
          var msg = 'Invalid fields:\n';
          $.each(data.errors, function(i, e){
            msg += $('label[for="id_' + i + '"]').text().replace(/:$/, '') + '\n';
          });
          alert(msg);
        } else {
          $('#success').show();
        }
      });
    });
    var uploader = new qq.FileUploader({
      action: "{% url contact:my_ajax_upload %}",
      element: $('#file-uploader')[0],
      multiple: false,
      onComplete: function(id, fileName, responseJSON) {
        if(responseJSON.success) {
          $('.photo-preview').attr('src', responseJSON.path);
          $('#id_photo').val(responseJSON.path.replace(patt, ''));
        } else {
          alert("upload failed!");
        }
      },
      onAllComplete: function(uploads) {
        // uploads is an array of maps
        // the maps look like this: {file: FileObject, response: JSONServerResponse}
      },
      params: {
        'csrf_token': '{{ csrf_token }}',
        'csrf_name': 'csrfmiddlewaretoken',
        'csrf_xname': 'X-CSRFToken',
        'user_id': {{ user.id }}
      }
    });
  });
  </script>
{% endblock javascript %}
{% block content %}
    <form id="edit_form" action="{% url contact:edit %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="span5">
          <table>
            <tr>
              <td><label for="id_first_name">Name:</label></td>
              <td>
                {{ form.first_name.errors }}
                {{ form.first_name }}
              </td>
            </tr>
            <tr>
              <td><label for="id_last_name">Last Name:</label></td>
              <td>
                {{ form.last_name.errors }}
                {{ form.last_name }}
              </td>
            </tr>
            <tr>
              <td><label for="id_date_of_birth">Date of Birth:</label></td>
              <td>
                {{ form.date_of_birth.errors }}
                {{ form.date_of_birth }}
              </td>
            </tr>
            <tr>
              <td><label for="id_photo">Photo:</label></td>
              <td>
                {{ form.photo.errors }}
                {{ form.photo }}
                <div id="file-uploader"></div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <img class="photo-preview" src="{{MEDIA_URL}}{{ form.photo.value }}"/>
              </td>
            </tr>
          </table>
        </div>
        <div class="span5">
          <table>
            <tr>
              <td><label for="id_email">Email:</label></td>
              <td>
                {{ form.email.errors }}
                {{ form.email }}
              </td>
            </tr>
            <tr>
              <td><label for="id_jabber">Jabber:</label></td>
              <td>
                {{ form.jabber.errors }}
                {{ form.jabber }}
              </td>
            </tr>
            <tr>
              <td><label for="id_skype">Skype:</label></td>
              <td>
                {{ form.skype.errors }}
                {{ form.skype }}
              </td>
            </tr>
            <tr>
              <td colspan="2"><label for="id_other_contacts">Other contacts:</label></td>
            </tr>
            <tr>
              <td colspan="2">
                {{ form.other_contacts.errors }}
                {{ form.other_contacts }}
              </td>
            </tr>
            <tr>
              <td colspan="2"><label for="id_bio">Bio:</label></td>
            </tr>
            <tr>
              <td colspan="2">
                {{ form.bio.errors }}
                {{ form.bio }}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="info">
        <img src="{{ STATIC_URL }}img/ajax-loader.gif" alt="loading..." id="spinner"
         class="hide spinner">
        <p id="success" class="hide">Changes have been saved</p>
      </div>
      <div class="actions">
        <input type="submit" class="btn" value="Save"/>
        <a href="{% url contact:index %}">Cancel</a>
      </div>
    </form>
{% endblock content %}
