{% extends "base.html" %}
{% load edit_link %}
{% block content %}
<div class="row">
  <div class="span4">
    <p>{{ contact_user.first_name }}</p>
    <p>{{ contact_user.last_name }}</p>
    <p>{{ contact_user.userprofile.date_of_birth|date:"d.m.Y" }}</p>
    <p>
      {% if contact_user.userprofile.photo %}
        Photo: <br/>
        <img src="{{ MEDIA_URL }}{{ contact_user.userprofile.photo }}"/>
      {% endif %}
    </p>
  </div>
  <div class="span4 offset1">
    <p>Contacts</p>
    <p>Email: {{ contact_user.email }}</p>
    <p>Jabber: {{ contact_user.userprofile.jabber }}</p>
    <p>Skype: {{ contact_user.userprofile.skype }}</p>
    <div>Other contacts:</div>
    <p>{{ contact_user.userprofile.other_contacts }}</p>
    <div>Bio:</div>
    <p>{{ contact_user.userprofile.bio }}</p>
  </div>
  <div class="span3">
    {% if user.is_authenticated %}
    <a href="{% url contact:edit %}">Edit</a>
    {% edit_link user %}
    {% else %}
    <a href="{% url login %}">Login</a>
    {% endif %}
  </div>
</div>
{% endblock content %}
