<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <h1>42 Coffee Cups Test Assignment</h1>
      {% block content %}
          
      {% endblock content %}
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery-1.9.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  </body>
</html>
